*, *::after, *::before  {
    box-sizing: border-box;
}

body {
    height:100vh;
    background: linear-gradient(to bottom, #201c2f 0%, #100751 100%);
    overflow: hidden;
  }
  

h1{
  color: white;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 3em;
  font-weight: bold;
  text-shadow: #FC0 1px 0 10px;
}

body:has(#play-animatie:checked ) > h1{
  animation-name: h1Weg;
  animation-duration: 4s;
  animation-delay: 2s;
  transition-timing-function: ease-out;
}
form{
  position: absolute;
  bottom:0;
  padding: 2em;
}
form label{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2em;
  color: white;
  font-weight: bold;
  text-shadow: #FC0 1px 0 10px;
}
img {
  width: 50vmin;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50% ,-10% );
}
body:has(#play-animatie:checked ) > img{
  animation-name: poppetje;
  animation-duration: 2s;
  animation-delay: 1s;
  transition-timing-function: ease-out;
}
  body > div{
    width:50vmin;
    height:10vmin;
    display:flex;
    align-items: center;
    animation-play-state: paused;
  }

body > div:first-of-type{
  position: absolute;
  top: 40%;
  left: 21%;
  transform: translate(30px, 20px) rotate(-50deg);
}

body > div:nth-of-type(2){
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(30px, 40px) rotate(50deg);
}

body:has(#play-animatie:checked ) > div:nth-of-type(2){
  animation-name: naarBoven;
  animation-duration: 2s;
  animation-delay: 4s;

}




  body:has(#play-animatie:checked) > div {
  /*   flex-direction:row; - default */
    animation-name: stokje;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-play-state: running;
  }

  body > div div:nth-of-type(1), 
  body > div div:nth-of-type(3){
    height:100%;
    aspect-ratio:1/1;
    border-radius:50%;
    background-color: #3A3B3C;

    z-index:100;
    animation-play-state: paused;
  } 


  body:has(#play-animatie:checked) > div div:nth-of-type(1),
  body:has(#play-animatie:checked) > div div:nth-of-type(3){
    animation-name: vlammetje;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-play-state: running;
  
  }
  
  body >  div div:nth-of-type(2) {
    height:20%;
    background-color: #696B6F;
    flex-grow:1;
    transform:scaleX(1.1);
    animation-play-state: paused;
  }


  @keyframes stokje{
    0% {
      transform:rotate(0);
    }
    100%{
      transform: rotate(1turn);
    }
  }
  @keyframes vlammetje{
    0% {
      transform: rotate(0);
      background-image: linear-gradient(to right, #600101, #8a1202 61%, #aa2600 100%);
      box-shadow: 
        0 0 30px 5px rgba(244,110,28,0.8),
        0 0 20px 10px rgba(244,110,28,0.6),
        0 0 30px 15px rgba(244,110,28,0.3);
    }
    100%{
      transform: rotate(-1turn);
      background-image: linear-gradient(to right, #600101, #8a1202 61%, #aa2600 100%);
      box-shadow: 
        0 0 10px 5px rgba(244,110,28,0.8),
        0 0 20px 10px rgba(244,110,28,0.6),
        0 0 30px 15px rgba(244,110,28,0.3);
    }
  }

  @keyframes h1Weg{
    0%{
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes poppetje {
    0%{
      transform: translate( -50% ,-10% );
    }
    100% {
      transform: translate(-50% ,50%)
    }
  }

 @keyframes naarBoven {
  0%{
    top: 40%;
    transform: rotate(1turn)
  }
  50% {
    top: -20%;
    transform: rotate(1turn)
  }
  100%{
    top: -20%;
    transform: rotate(1turn)
  }
} 

@keyframes terugBeneden {
  0%{

  }
  100%{

  }
}


@keyframes brandBlussen {
  0%{
    background-image: linear-gradient(to right, #600101, #8a1202 61%, #aa2600 100%);
      box-shadow: 
        0 0 30px 5px rgba(244,110,28,0.8),
        0 0 20px 10px rgba(244,110,28,0.6),
        0 0 30px 15px rgba(244,110,28,0.3);
  }
  50% {
    background-image: linear-gradient(to right, #bababa, #8a1202 61%, #aa2600 100%);
    box-shadow: 
      0 0 30px 5px rgba(244,110,28,0.8),
      0 0 20px 10px rgba(244,110,28,0.6),
      0 0 30px 15px rgba(244,110,28,0.3);
  }
}